<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">Trading Platform</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%- include('search-home.ejs') %>
    <ul class="nav justify-content-end ml-auto">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <button
          type="button"
          id="buyTicket"
          class="btn nav-link"
          data-toggle="modal"
          data-target="#modalCenter"
          data-fetcher="buy"
        >
          Login
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li>
    </ul>
  </div>
</nav>

<!-- Modal -->
<div
  class="modal fade"
  id="modalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log-In</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/auth/login" method="post">
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">E-mail:</label>
            <input type="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password" />
          </div>
          <br />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Log-In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
