<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/api/v1/">Trading Platform</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- <%- include('search-home.ejs') %> -->
    <ul class="nav justify-content-end ml-auto">
      <!-- <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li> -->
      <% if (!isAuthenticated) {%>
      <li class="nav-item">
        <button
          type="button"
          id="buyTicket"
          class="btn nav-link"
          data-toggle="modal"
          data-target="#modalCenterLogin"
          data-fetcher="buy"
        >
          Login
        </button>
      </li>
      <li class="nav-item">
        <button
          type="button"
          id="buyTicket"
          class="btn nav-link"
          data-toggle="modal"
          data-target="#modalCenterSignup"
          data-fetcher="buy"
        >
          Signup
        </button>
      </li>
      <% } else { %>
      <li class="nav-item">
        <form action="/api/v1/auth/logout" method="POST">
          <button class="btn nav-link" type="submit">Logout</button>
        </form>
      </li>
      <% } %>
      <!-- <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"
          >Disabled</a
        >
      </li> -->
    </ul>
  </div>
</nav>

<!-- Modal Login -->
<div
  class="modal fade"
  id="modalCenterLogin"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log-In</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/auth/login" method="post">
          <div class="form-group">
            <label for="email" class="col-form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
            />
          </div>
          <br />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Log-In</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Signup-->
<div
  class="modal fade"
  id="modalCenterSignup"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sign-Up</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/api/v1/auth/signup" method="post">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input type="text" name="name" class="form-control" id="name" />
          </div>
          <div class="form-group">
            <label for="email" class="col-form-label">E-mail:</label>
            <input type="email" name="email" class="form-control" id="email" />
          </div>
          <div class="form-group">
            <label for="password" class="col-form-label">Password:</label>
            <input
              type="password"
              name="password"
              class="form-control"
              id="password"
            />
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="col-form-label"
              >Confirm Password:</label
            >
            <input
              type="password"
              name="confirmPassword"
              class="form-control"
              id="confirmPassword"
            />
          </div>
          <br />
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Sign-Up</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
