<form
  className="form-inline ml-lg-5"
  action="/api/v1/portfolio/buysell"
  method="post"
>
  <label htmlFor="symbolTagsList">Symbol:</label>
  <input
    className="form-control mr-sm-2"
    type="text"
    id="symbolTagsList"
    name="symbol"
    placeholder="ex: MSFT"
    aria-label="Search"
  />
  <input type="hidden" name="userId" value="5cb018905f293858a48565fe" />
  <button
    id="requestSymbolList"
    className="btn btn-outline-secondary my-sm-0"
    type="submit"
  >
    Get Quote
  </button>
</form>;
