<div class="form-inline ml-lg-5">
  <label for="symbolTagsList">Symbol:</label>
  <input class="form-control mr-sm-2" type="text" id="symbolTagsList" name="symbol" placeholder="ex: MSFT"
    aria-label="Search">
  <button id="requestSymbolList" class="btn btn-outline-secondary my-sm-0" type="submit">Get Quote</button>
</div>