<form class="form-inline ml-lg-5" action="/portfolio/buysell" method="post">
  <label for="symbolTagsList">Symbol:</label>
  <input class="form-control mr-sm-2" type="text" id="symbolTagsList" name="symbol" placeholder="ex: MSFT"
    aria-label="Search">
  <input type="hidden" name="userId" value="5cb018905f293858a48565fe"></input>
  <button id="requestSymbolList" class="btn btn-outline-secondary my-sm-0" type="submit">Get Quote</button>
</form>