<div class="card-body">

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{curValue}}</h5>
          <p class="card-text"><strong>ASK</strong></p>
          <label for="qtyAsk">Qty: </label>
          <input type="number" id="qtyAsk" name="qtyAsk" placeholder="0">
          <a href="#" class="btn btn-primary">Buy</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{curValue}}</h5>
          <p class="card-text"><strong>BID</strong></p>
          <label for="qtyBid">Qty: </label>
          <input type="number" id="qtyBid" name="qtyBid" placeholder="0">
          <a href="#" class="btn btn-primary">Sell</a>
        </div>
      </div>
    </div>
  </div>

</div>