<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
<div>
  {{>navBar-chart}}


</div>

{{!-- chart --}}
<div id="container" style="height: 600px; min-width: 310px"></div>


<script src="/JS/chart.js"></script>
<script src="/JS/chartWebSearch.js"></script>