<div>
  <label for="symbolTags">Symbol: </label>
  <input type="text" id="symbolTags" name="symbol">

  <label for="api">Select Search Api: </label>
  <select id="api" name="routes_api">
    <option value="search">Web Search Api</option>
    <option value="dbsearch">DB Search Api</option>
  </select>

  <button type="submit" id="requestSymbol">Get Quote</button>
</div>

<input type="checkbox"/>

<div id="container" style="height: 600px; min-width: 310px"></div>