<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

<div>
  <label for="symbolTagsList">Symbol: </label>
  <input type="text" id="symbolTagsList" name="symbol">

  <button type="submit" id="requestSymbolList">Get Quote</button>
</div>

<table>
  <thead>
    <tr>
      <th> Symbol </th>
      <th> Open </th>
      <th> High </th>
      <th> Low </th>
      <th> Price </th>
      <th> Volume </th>
      <th> Lastest Trading Day </th>
      <th> Previous Close </th>
      <th> Change </th>
      <th> Change % </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody id="list">

  </tbody>
</table>

<script src="/JS/fetchListRoute.js"></script>