<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>

<div>
  <label for="symbolTags">Symbol: </label>
  <input type="text" id="symbolTags" name="symbol">

  <label for="api">Select Search Api: </label>
  <select id="api" name="routes_api">
    <option value="websearch">Web Search Api</option>
    <option value="dbsearch">DB Search Api</option>
  </select>


  <button type="submit" id="requestSymbol">Get Quote</button>
</div>
<div>
  <input type="checkbox" id="listBox" name="listBox" checked>
  <label for="listBox">Quote List</label>
</div>
<table>
  <thead>
    <tr>
      <th> Symbol </th>
      <th> Open </th>
      <th> High </th>
      <th> Low </th>
      <th> Price </th>
      <th> Volume </th>
      <th> Lastest Trading Day </th>
      <th> Previous Close </th>
      <th> Change </th>
      <th> Change % </th>
      <th> Action </th>
    </tr>
  </thead>
  <tbody id="list">

  </tbody>
</table>



<script src="/JS/fetchWebSearchDbSearchRoutes.js"></script>
<script src="/JS/fetchListRoute.js"></script>