<form class="form-inline">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  <button class="btn btn-light my-sm-0" type="submit">Search</button>
</form>


<form class="form-inline">
  <label for="symbolTagsList">Symbol: </label>
  <input class="form-control mr-sm-2" type="text" id="symbolTagsList" name="symbol" placeholder="ex: MSFT"
    aria-label="Search">
  <button id="requestSymbolList" class="btn btn-light my-sm-0" type="submit">Get Quote</button>
</form>


<div>
  <label for="symbolTagsList">Symbol: </label>
  <input type="text" id="symbolTagsList" name="symbol" placeholder="ex: MSFT">

  <button type="submit" id="requestSymbolList">Get Quote</button>
</div>